.jumbotron {
     background-color:
    color: #C3C6FF;
    padding: 100px 25px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.bg-gray{
    background-color: #f6f6f6;

}
.contact{
    padding: 100px;
}
.container-fluid {
    padding: 70px 50px;
}
.icon {
    color: #f4511e;
    font-size: 200px;
}
.glyphicon.glyphicon-envelope {
position: relative;
top:2px;
}
.fa{
    margin:0;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 3px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #848484 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color:  transparent !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #FF0101 !important;
}

body {
    line-height: 1.5;
}
